body{
    background-color: #fff;
}

.container{
    max-width: 1300px;
    margin: 40px auto;
    
}


.flex-items{
    display: flex;
    align-items: start;

}

.block{
    display: block;
    border-radius: 5px;
    padding: 30px 30px;
    background-color: #fff;
    box-shadow: 0px 1px 10px 1px #959596;
    margin-left: 0;
    margin-right: 50px;
    max-width: 900px;
    min-width: 800px;
}


.company{
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0px 1px 10px 1px #bfbfc0;
}

.company_name{
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

.company-address{
    font-size: 22px;
    margin-top: 10px;
    font-weight: 400;
}

.vacancy-name {
    font-size: 50px;
    color: #161515;
    margin-bottom: 40px;
}
.vacancy-name:hover{
    color: #161515;
    cursor: auto;
}

.salary-level{
    font-size: 30px;
    color: #959596;
}

.vacancy-salary{
    display: inline-block;
    font-weight: 400;
    margin-top: 30px;
    font-size: 30px;
}

.desc_block{
    margin-top: 40px;
    font-size: 40px;
}

.desc{
    font-size: 25px;
    color: #232;
    margin-top: 30px;
    max-width: 900px;
    line-height: 1.3;

}

.contacts{
    margin-top: 50px;
    font-size: 25px;
}

.vacancy-contacts{
    display: block;
    color: #318d06;
    font-size: 20px;
    padding-top: 10px;
}


                      /* Модальное окно */

.modal{
    position: relative;
}                      

.modal_block{
    position: absolute;
    padding: 25px 25px;
    right: -125px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #318d06;
    background-color: #fff;
    max-width: 300px;
}

.modal_text{
    color: #318d06;
    font-size: 22px;
}

.modal_button{
    display: block;
    background-color: #4acd0d;
    border: 2px solid #318d06;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    padding: 7px 80px;
    text-align: center;
    cursor: pointer;
    
}

.modal_button:hover{
    background-color: #fff;
    color: #318d06;
}

.salaryFromTo{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
    margin-top: 10px;
}

.salaryFrom{
    margin-right: 10px;
}

.salaryFrom, .salaryTo{
    font-size: 32px;
    font-weight: 400;
}